@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f2;
  font-weight: 500;
  background-color: #282A36;
  font-family: 'Baloo 2', sans-serif;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #f8f8f2 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 2.5rem #282A36 inset !important;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0rem;
    height: 0.35rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #44475a;
  }
}